body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner {
    background-color: #00a970ab;
    color: #fff;
    text-align: center;
    padding: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bannerbox {
  flex: 1;
  padding: 20px; /* 设置适当的间距 */
  box-sizing: border-box; /* 避免边框宽度影响盒子宽度 */   
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.unit {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    background-color: #f9f9f9;
}

.unit-title {
    background-color: #21f3ad33;
    padding: 0px;
    text-align: center;
    margin-block-end: 0em;
}

.unit-body {
    padding: 0px;
}

.under-banner {
    background-color: #00a970ab;
    color: #fff;
    text-align: center;
    padding: 0px;
    bottom: 0px;
    width: 100%;
}


